body {
  padding: 0;
  margin: 0;
  font-family: "Chakra Petch", sans-serif;
  background-color: #f0f2f8;
  box-sizing: border-box;
}
img {
  width: 50px;
  height: auto;
}
.quote-cards{
  background-color: #2264C0;
  
}

.giphy-row{
  background-color: #849CAF;
}

.separator{
  background-color: #1e4e91;
  color: #dce4ef;
  font-weight: 700;
  
}