body {
  padding: 0;
  margin: 0;
  font-family: "Chakra Petch", sans-serif;
  background-color: #f0f2f8;
  box-sizing: border-box;
}
img {
  width: 50px;
  height: auto;
}
.quote-cards{
  background-color: #1e4e91;
  
  
}

.giphy-row{
  background-color: #849CAF;
}

.separator{
  background-color: #2264C0;;
  color: #dce4ef;
  font-weight: 700;
  margin-top: 10px;

}
.row-video{
  background-color: #2264C0;
}

.video-card-holder{
  max-width: 100%;
  max-height: 100%;
}
.video-label{
  width: 100%;
  height: 100%;
}